<!DOCTYPE html>
<html>
    <head>
        <title>
            Etch-A-Sketch
        </title>

        <link rel="stylesheet" href="../static/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <header>
            <h1 id="title">Etch-A-Sketch</h1>
        </header>

        <main>
            <div id="menu">
                <button id="clear-grid">Clear</button>
                <button id="resize-grid">Resize</button>
                <button id="random-color">Random</button>
                <button>
                    <label for="color-picker">Pick</label>
                    <input id="color-picker" type="color">
                </button>
            </div>
            <div id="grid-container"></div>
        </main>

        <footer>
            Made by <a href="https://github.com/LBonino" target="_blank">LBonino</a>
        </footer>

        <script src="../static/js/etch-a-sketch.js"></script>
    </body>
</html>